@page
@model BookREV.Pages.BookList.IndexModel
@{
    ViewData["Title"] = "Index";
}

<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">বইয়ের তালিকা</h2>
    </div>
    <div class="col-3">
        <a asp-page="Create" class="btn btn-info form-control">নতুন বই যোগ</a>
    </div>

    <div class="col-12 border p-2 mt-3">
        <form method="post">
            @if (Model.Books.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Books.FirstOrDefault().Name">বইয়ের নাম</label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().Author">লেখক</label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().ISBN"></label>
                        </th>
                        <th>

                        </th>
                    </tr>
                    @foreach (var item in Model.Books)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Author)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.ISBN)
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm">মুছুন</button>
                                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">সম্পাদনা</a>

                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p class="text-danger">No books available!</p>
            }
        </form>
    </div>
</div>

